body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #f3f3f3;
}

.container {
    max-width: 1400px; 
    margin: 0 auto; 
    padding: 0 50px;
    padding-top: 30px;
    
}

a {
    text-decoration: none;
}

header .top_nav_container{
    display: flex;
    justify-content: space-between;
}

header img {
    width: 160px;
    height: 41px;
}

.top_nav {
    width: 545px;
    margin-inline-start: auto;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.bold {
    color: #1F1534;
    font-weight: 700;
}

.low_opac {
    color: #1F1534;
    font-weight: 400;
    opacity: 0.5;
}

.nav_consult {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.nav_text h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.nav_consult p {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
}

.button_cons {
    background-color: #458FF6;
    color: white;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border: none;
}

.nav_consult img {
    width: 700px;
    height: 600px;
}

.item {
    background-color: black;
    width: 56px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.services {
    margin-top: 50px;
}

.our_services {
    text-align: center;
    display: grid;
    justify-items: center;
}

.our_services p {
    color:  #7D7987;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.our_services h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.service_list {
    width: 1120px;
    margin: 0 auto;
}

.service_list ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
}

.service_list li {
    background-color: white;
    border-radius: 22px;
    padding: 26px;
}


.service_list li .text_li {
    margin-left: 8px;
}

.btn {
    width: 200px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    margin-top: 50px;
}

.service_list .btn {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

.btn a {
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    color: #458FF6;
}

.sec_2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1273px;
    margin-top: 200px;
}

.providers {
    margin-top: 40px;
}

.providers h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    width: 481px;
}

.providers p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #7D7987;
    width: 450px;
}

.mobile_apps {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1365px;
    margin-top: 200px;
}

.mobile_text {
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    width: 370px;
}

.mobile_text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #7D7987;
}

.testimonials {
    margin-top: 200px;
}

.gradient {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    margin: 0 auto;
}

.gradient h1{
    text-align: center;
    padding-top: 30px;
    color: #FFFFFF;
}

.gradient .item {
    margin: 0 auto;
    background-color: #FFFFFF;
}

.gradient p {
    width: 420px;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #FFFFFFE5;
}

.img_group {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    width: 1000px;
    margin-left: 70px;
}

.img_group img{
    width: 141px;
    height: 141px;
}

.cus_name h1 {
    position: relative;
    right: 80px;
    bottom: 20px;
}

.cus_name p {
    position: relative;
    left: 30px;
    bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #FFFFFFD9;
}

.slider {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 25px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5B9BF3;
}

.circle_opac {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5B9BF3;
    opacity: 0.3;
}

.article {
    text-align: center;
    margin-top: 100px;
}

.article_text {
    display: grid;
    justify-items: center;
}

.article_list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    list-style-type: none;
    margin-bottom: 50px;
}

.article_list li {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgb(221, 221, 221);
}

.item_container{
    padding: 0px 32px;
}

.article_list h1 {
    width: 251px;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

.article_list p {
    width: 266px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #7D7987;
}

.article_list a {
    float: left;
    width: 266px;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #4089ED;
    text-decoration: none;
}

.article .btn {
    height: 60px;
    width: 200px;
    border-radius: 55px;
}

footer {
    margin-top: 100px;
}

.bckg {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    max-width: 1600px;
    height: 432px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bckg img {
    width: 391px;
    height: 201px;
    margin-top: 120px;
    margin-left: 100px;
}

.bckg ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 60px;
}

.bckg li {
    margin-top: 70px;
    margin-right: 140px;
}

.bckg li h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #FFFFFF;
}

.bckg li a {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}