body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 160px;
    height: 41px;
    top: 56px;
    left: 191px;
    margin-left: 100px;
    margin-top: 30px;
}

.top_nav {
    width: 545px;
    height: 23px;
    margin-inline-start: auto;
    margin-right: 200px;
    margin-top: 30px;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.bold {
    color: #1F1534;
    font-weight: 700;
}

.low_opac {
    color: #1F1534;
    font-weight: 400;
    opacity: 0.5;
}

.nav_consult {
    margin-top: 200px;
}