body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: #f3f3f3;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 50px;
    padding-top: 30px;
    
}

a {
    text-decoration: none;
}

header .top_nav_container{
    display: flex;
    justify-content: space-between;
}

header img {
    width: 160px;
    height: 41px;
}

.top_nav {
    width: 545px;
    margin-inline-start: auto;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.bold {
    color: #1F1534;
    font-weight: 700;
}

.low_opac {
    color: #1F1534;
    font-weight: 400;
    opacity: 0.5;
}

.nav_consult {
    margin-top: 200px;
}